@charset "utf-8";

<style type="text/css">

	*{
				margin:0;
				padding: 0;
			}

			.clearfix{
				overflow:auto;
			}

			.clearfix:after{
				content: "";
				clear: both;
				display: table;
			}

			/*Header Styles*/
			header.header {
    				height: 150px;
    				width: 100%;
    				background-color: #7cc576;
    		}

    		h1 { 
    			display: inline; 
			}
			.box1 {
				position: fixed;
				width: 100px;
				height: 40px;
				left: 10%;
				padding-top: 20px;
				text-align: center;
				background: #6dcff6;
				font-size: 15px;
				border-radius:  0px 0px 0px 0px;
			}

			.box2 {
				position: fixed;
				width: 100px;
				height: 40px;
				left:20%;
				padding-top: 20px;
				text-align: center;
				background: #6dcff6;
				font-size: 15px;
				border-radius:  0px 0px 0px 0px;
			}

			.box3 {
				position: fixed;
				width: 100px;
				height: 40px;
				left:30%;
				padding-top: 20px;
				text-align: center;
				background: #6dcff6;
				font-size: 15px;
				border-radius:  0px 0px 0px 0px;
			}

			.box4 {
				position: fixed;
				width: 100px;
				height: 40px;
				left: 40%;
				padding-top: 20px;
				text-align: center;
				background: #6dcff6;
				font-size: 15px;
				border-radius:  0px 0px 0px 0px;
			}
			    }
			/*Body Styles*/
			.site-content {
				float: left;
				width: 70%;
				box-sizing: border-box;
			}

			.site-sidebar {
				float: left;
				width: 30%;
				box-sizing: border-box;
			}

			.image-gallery .img-slide {
				width: 30%;
				padding: 10px;
				box-sizing: border-box;
				float: left;
			}

			/*Footer Styles*/
			footer {
				background: #7cc576;
				padding: 15px;
				width: 100%;
				box-sizing: border-box;

			}

			p.copyright {
    			position: bottom-left;
        		width: 100%;
        		color: #000000;
        		line-height: 90px;
        		font-size: 1em;
        		text-align: left;
        		bottom:0px;
    		}

	    	.socialmedia{
	    		margin: auto;
	    		line-height: 90px;
   				padding: 20px;
   				width: 5px;
	    		float: right;
	    	
	    	}


